<h1>New Registration</h1>

<form method="post" action="/registration" >
  <ul>
    <li><label for="username">Username</label></li>
    <li><input type="text" name="username" id="username" /></li>
    <li><label for="password">Password</label></li>
    <li><input type="password" name="password" id="password" /></li>
    <li><input type="submit" value="Register" class="registerbutton"/></li>
  </ul>
</form>